body {
    position: relative;

    background: #051D3B;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 56px;
    left: 32px;
    top: 32px;
}

.logo{
    height: 34px;
}

.barra-pesquisa {
    padding: 0px 16px;

    width: 752px;
    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;

    color: #FFFFFF;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}
  
:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;  
}
  
::-moz-placeholder {  /* Firefox 19+ */
    color: #FFFFFF;  
}
  
:-ms-input-placeholder {  
    color: #FFFFFF;  
}

.author {
    padding: 12px;
}

.author label {
    display: flex;

    align-items: center;
    
    margin: 0px 8px;

    line-height: 24px;

    color: #FFFFFF;
}

 .author img {
    margin: 0px 8px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 189px;
    height: 146px;
    left: 32px;
    top: 128px;

    color: #FFFFFF;
}

.menu h2 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.label-editor-codigo {
    display: flex;
    align-items: center;
    width: 200px;
    line-height: 24px;
    margin: 1em 0;
}

.label-comunidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 24px;
}

.img-menu {
    margin-right: 16px;
}

/* .input-editor-codigo {
    width: 48px;
    height: 48px;

    margin: 0px 16px;

    background: #5081FB;
    border-radius: 16px;
    border: none;
} */

/* .input-comunidade {
    width: 48px;
    height: 48px;

    margin: 0px 16px;

    background: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    border: none;
} */