body{
    position: relative;
    /* width: 1440px;
    height: 1024px; */

    background: #051D3B;
}

header{
    position: absolute;
    width: 960px;
    height: 56px;
    left: 32px;
    top: 32px;
}

.logo{
    position: absolute;
    width: 145px;
    height: 34.05px;
    left: 0px;
    top: 12px;
}

.text-filed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 22.67%;
    right: 22.67%;
    top: 0%;
    bottom: 0%;
}

 .barra-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;

    position: static;
    width: 752px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
 }