.campo-codigo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-campo-codigo {
    display: flex;
    flex-grow: 1;

    width: 90%;
    padding: 16px;

    background: #6BD1FF;
    border-radius: 8px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.terminal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 16px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #141414;
}

.code-campo-codigo {
    flex-grow: 1;
    
    /* padding: 16px; */
    /* border: none;
    border-radius: 8px; */
    margin-top: 1rem;
    outline: none;

    /* background: #141414; */

    font-family: Inter;
    font-size: 14px;
}

.button-highlight {
    width: calc(90% + 32px);
    padding: 16px;

    border-radius: 8px;
    border: none;
    margin-top: calc(2em - 4px);

    height: 56px;

    background: rgba(80, 129, 251, 0.08);

    font-family: Inter;
    font-size: 16px;

    color: #FFFFFF;
}