.campo-codigo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-campo-codigo {
    display: flex;
    flex-grow: 1;

    width: 90%;
    padding: 16px;

    background: #6BD1FF;
    border-radius: 8px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.terminal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: calc(100% - 32px);
    height: 49vh;
    min-height: calc(100% - 32px);

    margin: 16px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;

    background: #141414;
}

.code-content {
    display: flex;
    flex-grow: 1;
    overflow: auto;    
}

/* Works on Firefox */
.code-content {
    scrollbar-width: thin;
    scrollbar-color: #3D3D3D #141414;

    -ms-overflow-style: none;  /* IE and Edge */
}

/* Works on Chrome, Edge, and Safari */
.code-content::-webkit-scrollbar {
    width: 0;
    height: 14px;
}

.code-content::-webkit-scrollbar-corner {
    background-color: #141414;
}

.code-content::-webkit-scrollbar-track {
    background: #141414;
}

.code-content::-webkit-scrollbar-thumb {
    background-color: #3D3D3D;
    border-radius: 20px;
    border: 3px solid #141414;
}

/* Cor do indicador de rolagem - ao passar o mouse */
.code-content::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #525252
}

.code-campo-codigo {
    flex-grow: 1;
    
    border-radius: 8px;
    margin-top: 1rem;
    outline: none;

    font-family: monospace;
    font-size: 14px;
}

.button-highlight {
    width: calc(90% + 32px);

    border-radius: 8px;
    border: none;
    margin-top: calc(2em - 4px);

    min-height: 56px;

    background: rgba(80, 129, 251, 0.08);

    font-family: Inter;
    font-size: 16px;

    cursor: pointer;

    color: #FFFFFF;

    transition: 400ms;
}
