.campo-codigo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-campo-codigo {
    display: flex;
    flex-grow: 1;

    width: 90%;
    padding: 16px;

    background: #6BD1FF;
    border-radius: 8px;
}

.terminal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 16px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #141414;
}

.textarea-campo-codigo {
    flex-grow: 1;
    
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;

    background: #141414;

    resize: none;

    font-family: Inter;
    font-size: 14px;

    color: #FFFFFF;
}

.button-highlight {
    width: calc(90% + 32px);
    padding: 16px;

    border-radius: 8px;
    border: none;
    margin-top: calc(2em - 4px);

    height: 56px;

    background: rgba(80, 129, 251, 0.08);

    font-family: Inter;
    font-size: 16px;

    color: #FFFFFF;
}