header {
    display: flex;
    align-items: center;
}

.logo{
    width: 20%;
    height: 34px;
}

.text-field {
    width: 60%;
    display: flex;
}

.barra-pesquisa {
    width: 90%;

    padding: 0px 16px;

    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;

    font-family: Inter;
    font-size: 16px;

    cursor: pointer;

    color: #FFFFFF;

    transition: 400ms;
}

.barra-pesquisa:hover {
    background: rgba(255, 255, 255, 0.24);
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}
  
:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;  
}
  
::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}
  
:-ms-input-placeholder {  
    color: #FFFFFF;  
}

.author {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.author label {
    display: flex;

    align-items: center;
    
    margin: 0px 8px;

    color: #FFFFFF;
}

 .author img {
    margin: 0px 8px;
}