body {
    background: #051D3B;
    margin: 32px 32px 0px 32px;

    font-family: Inter;
    font-size: 16px;
}

:is(input, textarea, select) {
    outline: none;
}

.div-editor-codigo {
    width: 20%;
}

.div-editor-codigo {
    display: flex;
    flex-direction: column;
}

.editor-codigo {
    display: flex;
    flex-direction: column;   
}

.text-field-editor-codigo {
    display: flex;
}

.barra-nome-projeto {
    flex-grow: 1;
    padding: 0px 16px;
    margin-bottom: 1em;

    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;

    font-family: Inter;
    font-size: 16px;

    color: #FFFFFF;
}

.descricao-projeto {
    padding: 16px;
    margin-bottom: 2em;

    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;

    resize: none;

    font-family: Inter;
    font-size: 16px;

    color: #FFFFFF;
}

.div-personalizar {
    display: flex;
    flex-direction: column;
}

.personalizar-linguagem {
    flex-grow: 1;
    padding: 0px 16px;
    margin-bottom: 1em;

    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;

    font-family: Inter;
    font-size: 16px;

    color: gray;
}

.div-personalizar-cor {
    display: flex;
}

.input-personalizar-cor {
    flex-grow: 1;
    margin-bottom: 2em;

    height: 56px;

    background: rgba(196, 196, 196, 0.01);

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;

    padding: 4px;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 4px;
    border-style: none;
}

input[type=color]::-moz-color-swatch {
    border-radius: 4px;
    border-style: none;
  }

.salvar-projeto {
    height: 56px;

    background: #5081FB;
    border-radius: 8px;
    border: none;
    
    font-family: Inter;
    font-size: 16px;

    color: #051D3B;
}